@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: #3be2ff; */
  background: rgb(175, 248, 255);
  background: linear-gradient(
    167deg,
    rgba(175, 248, 255, 0.9808298319327731) 0%,
    rgba(140, 240, 255, 1) 23%,
    rgba(103, 235, 255, 1) 46%,
    rgba(77, 231, 255, 1) 61%,
    rgba(87, 229, 255, 1) 83%,
    rgba(0, 213, 255, 1) 100%
  );
  --colorBgNotice: rgba(255, 255, 255, 0.767);
  --shadowColor: #1a373d80;
}
button {
  border-radius: 10px;
  border: #8585854f solid 1px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: var(--colorBgNotice);
  min-height: 100vh;
  overflow-y: scroll;
  max-height: 100vh;
  box-shadow: -1px 2px 49px 23px rgba(255, 255, 255, 0.575);
}
.container::-webkit-scrollbar {
  width: 2px;
}
.btnNewNoticeTitle {
  margin: 20px auto 40px 10px;
  font-size: 1rem;
}
.hide {
  height: 0;
  display: none;
}
.show {
  height: auto;
  transition: 2s;
}
.inputTitle {
  width: 50%;
  margin: -20px auto 20px 16px;
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  border: #8585854f solid 1px;
  box-shadow: 0px 0px 8px -3px var(--shadowColor);
  padding: 10px;
}
.inputTitle:focus {
  outline: none;
}
.inputDescription {
  width: 80%;
  max-width: 80%;
  margin: -5px auto 20px 16px;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 10px;
  height: 55px;
  min-height: 55px;
  border: #8585854f solid 1px;
  box-shadow: 0px 0px 8px -3px var(--shadowColor);
  resize: none;
  padding: 10px;
}
.inputDescription {
  outline: none;
}
.btnSaveCancel {
  margin: -5px auto 20px 16px;
  font-size: 1rem;
}
.noticeTitle {
  color: #161616;
  font-family: "Varela Round", sans-serif;
  font-size: 2rem;
  margin: 0 auto 40px 10px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: -20px auto 40px auto;
  border-radius: 10px;
  padding: 10px;
  border: #8585854f solid 1px;
  -webkit-box-shadow: 0px 0px 18px -3px var(--shadowColor);
  -moz-box-shadow: 0px 0px 18px -3px var(--shadowColor);
  box-shadow: 0px 0px 18px -3px var(--shadowColor);
  background-color: #fff;
}
.carTitle {
  margin: 10px auto 20px 10px;
  font-size: 1.5rem;
  font-weight: normal;
}
.carDescription {
  margin: 0 20px 20px 20px;
  font-size: 1rem;
  color: #3d3d3d;
  word-wrap: break-word;
}
.setings {
  position: absolute;
  right: 10px;
  top: 5px;
}
.dotdotdot {
  position: absolute;
  right: 0;
  padding-top: 4px;
}
@keyframes moveDown {
  0% {
    margin-top: -10px;
  }
  80% {
    margin-top: 38px;
  }
  100% {
    margin-top: 31px;
    visibility: initial;
  }
}
@keyframes moveUp {
  0% {
    margin-top: 31px;
  }
  10% {
    margin-top: 38px;
  }
  80% {
    visibility: hidden;
  }
  100% {
    margin-top: -10px;
    visibility: hidden;
  }
}
.containerSetings {
  visibility: hidden;
  margin-top: 0;
  margin-right: -9px;
}
.containerSetingsAnimateDown {
  animation: moveDown 1s forwards;
}
.containerSetingsAnimateUp {
  animation: moveUp 0.5s forwards;
}
.btnSet {
  padding: 8px;
  margin-top: 2px;
  margin-right: 4px;
}
